<%- include('./partials/head.ejs') %>
<body>
    <ul></ul>
    <form>
      <input type="text" autocomplete="off">
      <button><span>Send</span></button>
    </form>

</body>
<%- include('./partials/footer.ejs') %>